<section id="about" class="container d-flex justify-content-center pb-5">
    <div class="justify-content-center align-self-center wow animate__animated animate__fadeInDown" id="about-container">
        <div class="d-inline-block bg-lightblack text-center px-5">
            <img src="{{ asset('images/profile.jpeg') }}" alt="{{ 'profile_picture' | trans }}" class="rounded-circle mx-auto d-block" id="profile-picture"/>
            <h1 class="mt-3">Florian LE GOFF</h1>
            <h3 class="text-lightred">{{ 'developer' | trans | upper }}</h3>
            <p class="my-4 text-justify">
                {{ ((app.request.locale == 'fr') ? about.contentFr : about.contentEn) | raw | nl2br }}
            </p>
            <a class="mb-5 btn btn-darkred" href="{{ ((app.request.locale == 'fr') ? curriculum_vitae.contentFr : curriculum_vitae.contentEn) }}" title="{{ 'curriculum_vitae' | trans }}">
                {{ 'curriculum_vitae' | trans }}
            </a>
        </div>
        <div class="w-100 my-4"></div>
        <div class="d-flex flex-wrap justify-content-around">
            {% for social in socials %}
                <a href="{{ social.url }}" title="{{ social.title }}" class="social px-3">
                    <i class="fa fa-{{ social.icon }} fa-3x"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
