<!DOCTYPE html>
<html lang="{% if app.request.locale == 'fr' %}fr{% else %}en{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" />
        <title>Florian LE GOFF | {{ 'developper' | trans }}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
    </head>
    <body data-spy="scroll" data-target="#scrollspyNav" data-offset="58">
        {% include('_header.html.twig') %}

        {{ render(controller(('App\\Controller\\AppController:about'))) }}

        {{ render(controller(('App\\Controller\\AppController:projects'))) }}

        {{ render(controller(('App\\Controller\\AppController:skills'))) }}

        {{ render(controller(('App\\Controller\\AppController:contact'))) }}

        {{ render(controller(('App\\Controller\\AppController:footer'))) }}

        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
